@import "./LeftBar.module.scss";

.rightside {
  &__wrapper {
    width: 105px;
    height: var(--height-left);

    background-color: var(--block-bg);
    border-bottom-left-radius: 15px;
    padding: 0 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &__theme {
    // width: 35px;
    // height: 35px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-bottom: 210px;
    margin-top: 50px;
    background-color: var(--block-bg);
    cursor: pointer;

    @media all and (max-width: 650px) {
      margin: 0;
    }

    svg {
      width: 35px;
      height: 35px;
      border-radius: 50%;

      //main
      background-color: var(--button-theme2);
      circle {
        fill: var(--nav-bnt-crcl);
      }
      path {
        //main
        fill: var(--button-theme1);

        // fill: var(--nav-bnt-crcl);
      }
      &:hover {
        // box-shadow: 10px 10px 19px -8px rgba(0, 0, 0, 0.6);
        box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);

        transition: transform 0.01s ease-in-out;
      }
    }
  }

  &__navigate_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 43px;

    svg {
      border-radius: 50%;

      fill: var(--nav-bnt-crcl);
      circle {
        fill: var(--nav-bnt-crcl);
      }
      path {
        fill: var(--button-theme1);
      }
      &:hover {
        transform: scale(1.1);
        // box-shadow: 10px 10px 19px -8px rgba(0, 0, 0, 0.6);
        box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);

        transition: transform 0.25s ease-in-out;
      }
      &:active {
        transform: translateX(2px) translateY(-2px);
      }
    }
  }

  &__work {
    path {
    }
  }
}
