.work {
  &__content {
    max-width: 970px;
    background-color: var(--block-bg);
    margin-bottom: 30px;
    color: var(--main-text);

    h2 {
      text-align: center;
      font-family: "Inter";
      font-weight: 700;
      font-size: 32px;
      background-color: var(--background);
      padding-bottom: 25px;
      // border: 1px solid red;
    }
  }

  &_block {
    padding: 45px 38px 0px 38px;
    hr {
      border: 1.5px solid var(--background);
      margin-bottom: 28px;
    }

    @media all and (max-width: 1200px) {
      padding: 30px 25px 20px;
    }
  }

  &_element {
    display: grid;
    grid-template-columns: 21% 60%;
    justify-content: space-between;
    margin-bottom: 25px;
    .schoolname {
      .name {
        font-family: "Inter";
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 25px;

        @media all and (max-width: 1200px) {
          font-size: 16px;
        }
        @media all and (max-width: 485px) {
          font-size: 12px;
        }
      }
      .date {
        width: 111px;
        height: 18px;
        background: var(--accent);
        border-radius: 2px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 10px;
        color: var(--btn);
        padding: 4px 2px;
        text-align: center;
        margin-left: 10px;

        @media all and (max-width: 485px) {
          margin-left: 0;
          width: 80px;
          height: 28px;
          padding: 1px 7px;
        }
      }
    }
    .speciality {
      .spec_name {
        margin-bottom: 28px;
        font-family: "Inter";
        font-weight: 500;
        font-size: 18px;

        @media all and (max-width: 1200px) {
          font-size: 16px;
        }
        @media all and (max-width: 485px) {
          font-size: 14px;
        }
      }
      .spec_description {
        font-family: "Inter";
        font-weight: 400;
        font-size: 15px;
        color: var(--paragraph);

        @media all and (max-width: 1200px) {
          font-size: 12px;
        }
        @media all and (max-width: 485px) {
          font-size: 10px;
        }
      }
    }
  }
}
