.dark {
  &__theme {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-bottom: 210px;
    margin-top: 50px;
    background-color: var(--block-bg);
    cursor: pointer;

    @media all and (max-width: 650px) {
      margin: 0;
    }

    svg {
      width: 35px;
      height: 35px;
      border-radius: 50%;

      background-color: var(--button-theme2);
      circle {
        fill: var(--nav-bnt-crcl);
      }
      path {
        fill: var(--button-theme1);
      }
      &:hover {
        box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);

        transition: transform 0.01s ease-in-out;
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }
}
