/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/styles/global/globals.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --yellow: #ffb400;
  --white: #ffffff;
  --black: #2b2b2b;
  --dark: #18191a;
  --light-dark: #3a3b3c;
  --paragraph-font: #767676;
  --light-gray: #f0f0f6;
  --accent: var(--yellow);
  --background: var(--light-gray);
  --main-text: var(--black);
  --paragraph: var(--paragraph-font);
  --block-bg: var(--white);
  --button-theme1: var(--light-dark);
  --button-theme2: var(--white);
  --nav-bnt-crcl: var(--light-gray);
  --btn: var(--dark);
}

.dark {
  --background: var(--black);
  --block-bg: var(--light-dark);
  --main-text: var(--white);
  --paragraph: var(--light-gray);
  --button-theme1: var(--dark);
  --button-theme2: var(--accent);
  --nav-bnt-crcl: var(--yellow);
  --btn: var(--dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--accent);
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background: #f0f0f6;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media all and (max-width: 650px) {
  .container {
    flex-direction: column;
    padding: 10px 10px;
  }
}

.center {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.main__content {
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: var(--background);
}
