/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/LeftBar.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@keyframes LeftBar_active__tQs2U {
  0% {
    width: 0%;
  }
  100% {
    width: precentage;
  }
}
.LeftBar_container__6vD7Q {
  width: 305px;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--block-bg);
}
@media all and (max-width: 800px) {
  .LeftBar_container__6vD7Q {
    max-width: 205px;
  }
}

.LeftBar_wrapper__IyFig {
  max-width: 220px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
}
@media all and (max-width: 800px) {
  .LeftBar_wrapper__IyFig {
    max-width: 175px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.LeftBar_endline__xFIMu {
  height: 1.5px;
  background-color: var(--light-gray);
  border-radius: 3px;
  margin: 25px 0;
}

.LeftBar_title__aEVjz {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--main-text);
}
@media all and (max-width: 800px) {
  .LeftBar_title__aEVjz {
    font-size: 15px;
  }
}

.LeftBar_progress_bar__DZrB_ {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .LeftBar_progress_bar__DZrB_ {
    font-size: 12px;
  }
}
.LeftBar_progress_bar__line__ihyBI {
  height: 6px;
  border: 0.75px solid var(--accent);
  border-radius: 30px;
  width: 100%;
  padding: 0 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 9px;
}
.LeftBar_progress_bar__line__number__VtVcA {
  height: 2px;
  border-radius: 30px;
  background: var(--accent);
  animation: LeftBar_active__tQs2U 2s 1;
}

.LeftBar_left__summary__Ott5H {
  text-align: center;
}
.LeftBar_left__profile__bQtxI {
  margin-bottom: 30px;
}
.LeftBar_left__text__h1fqn h3 {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text);
}
@media all and (max-width: 800px) {
  .LeftBar_left__text__h1fqn h3 {
    font-size: 15px;
  }
}
.LeftBar_left__text__h1fqn p {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
}
@media all and (max-width: 800px) {
  .LeftBar_left__text__h1fqn p {
    font-size: 12px;
  }
}
.LeftBar_left__icon___xV_j {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.LeftBar_left__icon___xV_j li {
  width: 35px;
  height: 35px;
}
@media all and (max-width: 800px) {
  .LeftBar_left__icon___xV_j li {
    width: 25px;
    height: 25px;
  }
}
.LeftBar_left__icon___xV_j li svg {
  border-radius: 50%;
}
.LeftBar_left__icon___xV_j li svg:hover {
  background: #ffbc1a;
  transform: scale(1.1);
}
.LeftBar_left__icon___xV_j li svg:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}
.LeftBar_left__icon___xV_j li .LeftBar_git__m3Ddh path {
  fill: var(--accent);
}
.LeftBar_left__extraskills__D1Nv5 {
  color: var(--paragraph);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}
@media all and (max-width: 800px) {
  .LeftBar_left__extraskills__D1Nv5 {
    font-size: 12px;
  }
}
.LeftBar_left__extraskills__D1Nv5 img {
  margin-right: 15px;
}
@media all and (max-width: 800px) {
  .LeftBar_left__extraskills__D1Nv5 img {
    margin-right: 10px;
  }
}
.LeftBar_left__extraskills__btn__3tvLh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  height: 40px;
  background: var(--accent);
  color: var(--btn);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 1080px) {
  .LeftBar_left__extraskills__btn__3tvLh {
    padding: 8px 15px;
    font-size: 12px;
    gap: 10px;
  }
}
@media all and (max-width: 800px) {
  .LeftBar_left__extraskills__btn__3tvLh {
    padding: 8px 5px;
    font-size: 12px;
    gap: 10px;
    text-align: center;
  }
}
.LeftBar_left__extraskills__btn__3tvLh svg {
  width: 15px;
}
@media all and (max-width: 800px) {
  .LeftBar_left__extraskills__btn__3tvLh svg {
    width: 12px;
  }
}
.LeftBar_left__extraskills__btn__3tvLh:hover {
  background: #ffbc1a;
}
.LeftBar_left__extraskills__btn__3tvLh:hover svg {
  transform: translateY(3px);
  transition: transform 0.25s ease-in-out;
}
.LeftBar_left__extraskills__btn__3tvLh:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/RightBar.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@keyframes RightBar_active__Aukee {
  0% {
    width: 0%;
  }
  100% {
    width: precentage;
  }
}
.RightBar_container__WJE2M {
  width: 305px;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--block-bg);
}
@media all and (max-width: 800px) {
  .RightBar_container__WJE2M {
    max-width: 205px;
  }
}

.RightBar_wrapper__JCsH_ {
  max-width: 220px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
}
@media all and (max-width: 800px) {
  .RightBar_wrapper__JCsH_ {
    max-width: 175px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

.RightBar_endline__0pDUB {
  height: 1.5px;
  background-color: var(--light-gray);
  border-radius: 3px;
  margin: 25px 0;
}

.RightBar_title__RIQYs {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--main-text);
}
@media all and (max-width: 800px) {
  .RightBar_title__RIQYs {
    font-size: 15px;
  }
}

.RightBar_progress_bar__pv_7q {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 800px) {
  .RightBar_progress_bar__pv_7q {
    font-size: 12px;
  }
}
.RightBar_progress_bar__line__jE2DZ {
  height: 6px;
  border: 0.75px solid var(--accent);
  border-radius: 30px;
  width: 100%;
  padding: 0 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 9px;
}
.RightBar_progress_bar__line__number__HsHqH {
  height: 2px;
  border-radius: 30px;
  background: var(--accent);
  animation: RightBar_active__Aukee 2s 1;
}

.RightBar_left__summary__WjQDX {
  text-align: center;
}
.RightBar_left__profile__Yg4Pb {
  margin-bottom: 30px;
}
.RightBar_left__text__YT1MV h3 {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text);
}
@media all and (max-width: 800px) {
  .RightBar_left__text__YT1MV h3 {
    font-size: 15px;
  }
}
.RightBar_left__text__YT1MV p {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--paragraph);
}
@media all and (max-width: 800px) {
  .RightBar_left__text__YT1MV p {
    font-size: 12px;
  }
}
.RightBar_left__icon__2GEiJ {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.RightBar_left__icon__2GEiJ li {
  width: 35px;
  height: 35px;
}
@media all and (max-width: 800px) {
  .RightBar_left__icon__2GEiJ li {
    width: 25px;
    height: 25px;
  }
}
.RightBar_left__icon__2GEiJ li svg {
  border-radius: 50%;
}
.RightBar_left__icon__2GEiJ li svg:hover {
  background: #ffbc1a;
  transform: scale(1.1);
}
.RightBar_left__icon__2GEiJ li svg:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}
.RightBar_left__icon__2GEiJ li .RightBar_git__BL7mu path {
  fill: var(--accent);
}
.RightBar_left__extraskills__LcfzA {
  color: var(--paragraph);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 5px;
}
@media all and (max-width: 800px) {
  .RightBar_left__extraskills__LcfzA {
    font-size: 12px;
  }
}
.RightBar_left__extraskills__LcfzA img {
  margin-right: 15px;
}
@media all and (max-width: 800px) {
  .RightBar_left__extraskills__LcfzA img {
    margin-right: 10px;
  }
}
.RightBar_left__extraskills__btn__gFtd0 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  height: 40px;
  background: var(--accent);
  color: var(--btn);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 1080px) {
  .RightBar_left__extraskills__btn__gFtd0 {
    padding: 8px 15px;
    font-size: 12px;
    gap: 10px;
  }
}
@media all and (max-width: 800px) {
  .RightBar_left__extraskills__btn__gFtd0 {
    padding: 8px 5px;
    font-size: 12px;
    gap: 10px;
    text-align: center;
  }
}
.RightBar_left__extraskills__btn__gFtd0 svg {
  width: 15px;
}
@media all and (max-width: 800px) {
  .RightBar_left__extraskills__btn__gFtd0 svg {
    width: 12px;
  }
}
.RightBar_left__extraskills__btn__gFtd0:hover {
  background: #ffbc1a;
}
.RightBar_left__extraskills__btn__gFtd0:hover svg {
  transform: translateY(3px);
  transition: transform 0.25s ease-in-out;
}
.RightBar_left__extraskills__btn__gFtd0:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}

.RightBar_rightside__wrapper__MnWv7 {
  width: 105px;
  height: var(--height-left);
  background-color: var(--block-bg);
  border-bottom-left-radius: 15px;
  padding: 0 10px;
}
.RightBar_rightside__content__HCkvu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.RightBar_rightside__theme__wyOaX {
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-bottom: 210px;
  margin-top: 50px;
  background-color: var(--block-bg);
  cursor: pointer;
}
@media all and (max-width: 650px) {
  .RightBar_rightside__theme__wyOaX {
    margin: 0;
  }
}
.RightBar_rightside__theme__wyOaX svg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--button-theme2);
}
.RightBar_rightside__theme__wyOaX svg circle {
  fill: var(--nav-bnt-crcl);
}
.RightBar_rightside__theme__wyOaX svg path {
  fill: var(--button-theme1);
}
.RightBar_rightside__theme__wyOaX svg:hover {
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);
  transition: transform 0.01s ease-in-out;
}
.RightBar_rightside__navigate_btns___1EO1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 43px;
}
.RightBar_rightside__navigate_btns___1EO1 svg {
  border-radius: 50%;
  fill: var(--nav-bnt-crcl);
}
.RightBar_rightside__navigate_btns___1EO1 svg circle {
  fill: var(--nav-bnt-crcl);
}
.RightBar_rightside__navigate_btns___1EO1 svg path {
  fill: var(--button-theme1);
}
.RightBar_rightside__navigate_btns___1EO1 svg:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);
  transition: transform 0.25s ease-in-out;
}
.RightBar_rightside__navigate_btns___1EO1 svg:active {
  transform: translateX(2px) translateY(-2px);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/components/UI/DarkThemeButton/DarkButton.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DarkButton_dark__theme__ufVt2 {
  width: 35px;
  height: 35px;
  margin: 0 auto;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-bottom: 210px;
  margin-top: 50px;
  background-color: var(--block-bg);
  cursor: pointer;
}
@media all and (max-width: 650px) {
  .DarkButton_dark__theme__ufVt2 {
    margin: 0;
  }
}
.DarkButton_dark__theme__ufVt2 svg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--button-theme2);
}
.DarkButton_dark__theme__ufVt2 svg circle {
  fill: var(--nav-bnt-crcl);
}
.DarkButton_dark__theme__ufVt2 svg path {
  fill: var(--button-theme1);
}
.DarkButton_dark__theme__ufVt2 svg:hover {
  box-shadow: 10px 10px 19px -5px rgba(0, 0, 0, 0.6);
  transition: transform 0.01s ease-in-out;
}
.DarkButton_dark__theme__ufVt2 svg:active {
  transform: translateY(1px);
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/Header.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_title__GVFLG {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
  color: var(--main-text);
}

.Header_header__wrapper__pJFnm {
  border-radius: 50px;
  margin-bottom: 15px;
  background-color: var(--block-bg);
  box-shadow: 10px 10px 60px -20px rgba(0, 0, 0, 0.75);
}
.Header_header__container__njF9N {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header_header__logo__nyqd0 {
  margin: 10px 20px;
}
.Header_header__subcontainer__9dY36 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.Header_header__burger__3DfCZ {
  width: 50px;
  height: 25px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.Header_header__burger__3DfCZ span {
  background-color: var(--accent);
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  transition-duration: 500ms;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
.Header_header__burger__3DfCZ span:nth-child(1) {
  top: 0;
  left: 0;
}
.Header_header__burger__3DfCZ span:nth-child(2) {
  top: 10px;
  left: 0;
  opacity: 1;
}
.Header_header__burger__3DfCZ span:nth-child(3) {
  bottom: 0;
  left: 0;
}
.Header_header__burger__3DfCZ.Header_open__bpTv7 span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
.Header_header__burger__3DfCZ.Header_open__bpTv7 span:nth-child(2) {
  opacity: 0;
}
.Header_header__burger__3DfCZ.Header_open__bpTv7 span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}
.Header_header__menu__QE4vS {
  padding: 15px 15px;
}
.Header_header__summary__BejHE {
  margin: 10px 15px;
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
}
@media all and (max-width: 365px) {
  .Header_header__summary__BejHE {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Header_header__summary__BejHE h3 {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text);
}
.Header_header__summary__BejHE p {
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--paragraph);
}
@media all and (max-width: 365px) {
  .Header_header__text__nUZd3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.Header_header__extrablock__tN34C {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: var(--paragraph);
}
.Header_header__icon__l4kM3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
@media all and (max-width: 365px) {
  .Header_header__icon__l4kM3 {
    gap: 20px;
  }
}
.Header_header__icon__l4kM3 li {
  width: 35px;
  height: 35px;
}
.Header_header__icon__l4kM3 li svg {
  border-radius: 50%;
}
.Header_header__icon__l4kM3 li svg:hover {
  background: #ffbc1a;
  transform: scale(1.1);
}
.Header_header__icon__l4kM3 li svg:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}
.Header_header__icon__l4kM3 li .Header_git__2ehkC path {
  fill: var(--accent);
}

/*CSS TRANSITION*/
.Header_alert_enter__PHR7T {
  opacity: 0;
  transform: scale(0.1);
}

.Header_alert_enter_active__8WOZX {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 200ms;
}

.Header_alert_exit__LoDK9 {
  opacity: 1;
}

.Header_alert_exit_active__7MLjk {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 100ms, transform 100ms;
}

/*CSS TRANSITION*/
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/About.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.About_about__container__eQq5F {
  max-width: 970px;
  position: relative;
  padding: 0 60px;
  background-color: var(--block-bg);
}
@media all and (max-width: 1200px) {
  .About_about__container__eQq5F {
    padding: 0 40px;
  }
}
@media all and (max-width: 650px) {
  .About_about__container__eQq5F {
    box-shadow: 10px 10px 60px -20px rgba(0, 0, 0, 0.75);
  }
}
.About_about__wrapper__cmI0f {
  display: grid;
  grid-template-columns: 58.9% 38%;
  grid-column-gap: 25px;
}
@media all and (max-width: 960px) {
  .About_about__wrapper__cmI0f {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .About_about__wrapper__cmI0f::after {
    content: "";
    position: absolute;
    background-image: url(/_next/static/media/Your_Image1.4c98e19c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.7;
  }
}
.About_about__main__wTkBA {
  align-self: center;
  margin: 15px 0;
}
.About_about__main__wTkBA h3 {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 18px;
  z-index: 1;
  color: var(--main-text);
}
@media all and (max-width: 1200px) {
  .About_about__main__wTkBA h3 {
    font-size: 36px;
  }
}
@media all and (max-width: 1080px) {
  .About_about__main__wTkBA h3 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 650px) {
  .About_about__main__wTkBA h3 {
    font-size: 48px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 485px) {
  .About_about__main__wTkBA h3 {
    font-size: 36px;
    margin-bottom: 15px;
  }
}
.About_about__main__wTkBA h3 span {
  color: var(--accent);
}
.About_about__main__wTkBA p {
  position: relative;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
  color: var(--paragraph);
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .About_about__main__wTkBA p {
    font-size: 14px;
  }
}
@media all and (max-width: 1080px) {
  .About_about__main__wTkBA p {
    font-size: 12px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 650px) {
  .About_about__main__wTkBA p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 485px) {
  .About_about__main__wTkBA p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.About_about__main__wTkBA button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent);
  color: var(--btn);
  border-radius: 5px;
  padding: 16px 32px;
  gap: 10px;
  width: 154px;
  height: 51px;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.About_about__main__wTkBA button:hover {
  background: #ffbc1a;
}
.About_about__main__wTkBA button:hover svg {
  transform: translateX(15px);
  transition: transform 0.25s ease-in-out;
}
.About_about__main__wTkBA button:active {
  transform: translateX(2px) translateY(-2px);
  background: #e6a200;
}
@media all and (max-width: 1080px) {
  .About_about__main__wTkBA button {
    width: 130px;
    height: 41px;
    padding: 10px 22px;
    font-size: 14px;
  }
}
@media all and (max-width: 650px) {
  .About_about__main__wTkBA button {
    padding: 16px 32px;
    width: 154px;
    height: 51px;
  }
}
.About_about__secondary__9Zrm5 {
  display: flex;
  align-self: end;
}
.About_about__secondary__9Zrm5 img {
  max-width: 100%;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/Education.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Education_education__content__uSn0c {
  max-width: 970px;
  background-color: var(--block-bg);
  margin-bottom: 30px;
  color: var(--main-text);
}
.Education_education__content__uSn0c h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: var(--background);
  padding-bottom: 25px;
}
.Education_education_block__rLnlD {
  padding: 45px 38px 0px 38px;
}
.Education_education_block__rLnlD hr {
  border: 1.5px solid var(--background);
  margin-bottom: 28px;
}
@media all and (max-width: 1200px) {
  .Education_education_block__rLnlD {
    padding: 30px 25px 20px;
  }
}
.Education_education_element__SUVNU {
  display: grid;
  grid-template-columns: 21% 60%;
  justify-content: space-between;
  margin-bottom: 25px;
}
.Education_education_element__SUVNU .Education_schoolname__xFDcH .Education_name__7__TW {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
@media all and (max-width: 1200px) {
  .Education_education_element__SUVNU .Education_schoolname__xFDcH .Education_name__7__TW {
    font-size: 16px;
  }
}
@media all and (max-width: 485px) {
  .Education_education_element__SUVNU .Education_schoolname__xFDcH .Education_name__7__TW {
    font-size: 12px;
  }
}
.Education_education_element__SUVNU .Education_schoolname__xFDcH .Education_date__jSguE {
  width: 111px;
  height: 18px;
  background: var(--accent);
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--btn);
  padding: 4px 7px;
  text-align: center;
  margin-left: 10px;
}
@media all and (max-width: 485px) {
  .Education_education_element__SUVNU .Education_schoolname__xFDcH .Education_date__jSguE {
    margin-left: 0;
    width: 80px;
    height: 14px;
    padding: 1px 5px;
  }
}
.Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_name__PISXl {
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
@media all and (max-width: 1200px) {
  .Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_name__PISXl {
    font-size: 16px;
  }
}
@media all and (max-width: 485px) {
  .Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_name__PISXl {
    font-size: 14px;
  }
}
.Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_description__HlelX {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--paragraph);
}
@media all and (max-width: 1200px) {
  .Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_description__HlelX {
    font-size: 12px;
  }
}
@media all and (max-width: 485px) {
  .Education_education_element__SUVNU .Education_speciality__RPUDp .Education_spec_description__HlelX {
    font-size: 10px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/Projects.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Projects_portfolio__content__BPeAl {
  max-width: 970px;
  background-color: var(--block-bg);
  margin-bottom: 30px;
  color: var(--main-text);
}
.Projects_portfolio__content__BPeAl h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: var(--background);
  padding-bottom: 25px;
}
.Projects_portfolio__block__zZwZn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
@media all and (max-width: 1250px) {
  .Projects_portfolio__block__zZwZn {
    justify-content: space-around;
  }
}
.Projects_portfolio__item__HCtF0 {
  margin: 5px;
}
.Projects_portfolio__preview__z_erV {
  margin-bottom: 15px;
}
.Projects_portfolio__preview__z_erV a img {
  border-radius: 5px;
  width: 290px;
}
@media all and (max-width: 1412px) {
  .Projects_portfolio__preview__z_erV a img {
    width: 250px;
  }
}
@media all and (max-width: 1250px) {
  .Projects_portfolio__preview__z_erV a img {
    width: 350px;
  }
}
@media all and (max-width: 1080px) {
  .Projects_portfolio__preview__z_erV a img {
    width: 100%;
  }
}
.Projects_portfolio__description__CiYVg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Projects_portfolio_element__aMGO_ {
  display: grid;
  grid-template-columns: 1fr 536px;
  grid-column-gap: 180px;
  column-gap: 180px;
  margin-bottom: 11px;
}
.Projects_portfolio_element__aMGO_ .Projects_schoolname__Flaz8 .Projects_name__v1_vG {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
.Projects_portfolio_element__aMGO_ .Projects_schoolname__Flaz8 .Projects_date__bhzex {
  width: 111px;
  height: 18px;
  background: var(--accent);
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--btn);
  padding: 4px 7px;
  text-align: center;
  margin-left: 10px;
}
.Projects_portfolio_element__aMGO_ .Projects_speciality__6guI6 {
  max-width: 536px;
}
.Projects_portfolio_element__aMGO_ .Projects_speciality__6guI6 .Projects_spec_name__raGxu {
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.Projects_portfolio_element__aMGO_ .Projects_speciality__6guI6 .Projects_spec_description__cOL1B {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--paragraph);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./src/styles/modules/Work.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Work_work__content__CJZpL {
  max-width: 970px;
  background-color: var(--block-bg);
  margin-bottom: 30px;
  color: var(--main-text);
}
.Work_work__content__CJZpL h2 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: var(--background);
  padding-bottom: 25px;
}
.Work_work_block__Y9LZX {
  padding: 45px 38px 0px 38px;
}
.Work_work_block__Y9LZX hr {
  border: 1.5px solid var(--background);
  margin-bottom: 28px;
}
@media all and (max-width: 1200px) {
  .Work_work_block__Y9LZX {
    padding: 30px 25px 20px;
  }
}
.Work_work_element__Vqk8P {
  display: grid;
  grid-template-columns: 21% 60%;
  justify-content: space-between;
  margin-bottom: 25px;
}
.Work_work_element__Vqk8P .Work_schoolname__U5JZL .Work_name__cBGHq {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
@media all and (max-width: 1200px) {
  .Work_work_element__Vqk8P .Work_schoolname__U5JZL .Work_name__cBGHq {
    font-size: 16px;
  }
}
@media all and (max-width: 485px) {
  .Work_work_element__Vqk8P .Work_schoolname__U5JZL .Work_name__cBGHq {
    font-size: 12px;
  }
}
.Work_work_element__Vqk8P .Work_schoolname__U5JZL .Work_date__UltTe {
  width: 111px;
  height: 18px;
  background: var(--accent);
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--btn);
  padding: 4px 2px;
  text-align: center;
  margin-left: 10px;
}
@media all and (max-width: 485px) {
  .Work_work_element__Vqk8P .Work_schoolname__U5JZL .Work_date__UltTe {
    margin-left: 0;
    width: 80px;
    height: 28px;
    padding: 1px 7px;
  }
}
.Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_name__5jQHC {
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
@media all and (max-width: 1200px) {
  .Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_name__5jQHC {
    font-size: 16px;
  }
}
@media all and (max-width: 485px) {
  .Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_name__5jQHC {
    font-size: 14px;
  }
}
.Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_description__FRoHF {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--paragraph);
}
@media all and (max-width: 1200px) {
  .Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_description__FRoHF {
    font-size: 12px;
  }
}
@media all and (max-width: 485px) {
  .Work_work_element__Vqk8P .Work_speciality__U118v .Work_spec_description__FRoHF {
    font-size: 10px;
  }
}
